# Ignore everything by default
*

# Unignore .gitignore
!.gitignore

# Unignore settings files
!*.sublime-settings

# Unignore theme modifications
!Theme*/
!Theme*/**

# Unignore SublimeLinter's modified tmTheme files
!SublimeLinter/
!SublimeLinter/*.tmTheme
